/*===css rester start===*/
html,body,p,div,ul,ol,li,i,span,em,strong,a,abbr,article,address,aside,audio,blockquote,canvas,caption,cite,
code,dl,dt,dd,del,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,iframe,nav,pre,ins,label,legend,
map,mark,object ,optgroup,option,q,section,video,table,tr,td,thead,tbody {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}
body {
    font-family: "Microsoft YaHei", "Arial";
    line-height: 1;
    color: #fff;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

img {
		max-width:100%;
    display: block;
    margin: 0 auto;
    border: none;
    vertical-align: middle;/*设置元素中间对齐*/
}

a {
    color: #fff;
    text-decoration: none;/*定义标准的文本*/
    transition: all 0.2s linear;/*线性过渡linear: 匀速*/
}

a:link { /*激活*/
    text-decoration: none;
}

a:visited { /*访问过*/
    text-decoration: none;
}

a:hover { /*悬停*/
    text-decoration: none;
    transition: all 0.2s linear;
}

a:active { /*点击*/
    text-decoration: none;
}

ul {
    list-style: none; /*去黑点*/
}
.fr {
	float: right;
}

h1,h2,h3 {
	color: #333;
}
body {
	min-width: 1180px;
	max-width: 1920px;
	margin: 0 auto;
}
/*===css rester end===*/
/*===css header start===*/

header {
	background-color: #0d0d0d;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
}
header .nav {
	max-width: 1480px;
	min-width: 1180px;
	height: 110px;
	margin: 0 auto;
	position: relative;
}
.nav-top {
	width: 99%;
	padding: 13px 0;
	text-align: right;
}
.nav-top a {
	display: inline-block;
	font-size: 1.4rem;
	color: #b2b2b2;
	padding: 0 18px;
	border-left: 1px solid #B2B2B2;
}
.nav-top a:first-child {
	border: none;
}
.nav-top .area {
	background: url(../images/area.jpg) right no-repeat;
	padding-right: 30px;
	margin-right: 10px;
}
.nav-con {
	position: relative;
	margin-top: -11px;
}
.nav-con .logo {
	display: inline-block;
}
.nav-con .menu {
	position: absolute;
	bottom: 0;
	top: 40px;
	left: 0;
	width: 100%;
}
.nav-con .menu .menu-con {
	display: table;
	margin: 0 auto;
}
.nav-con .menu .menu-con a {
	display: inline-block;
	font-size: 1.4rem;
	color: #fff;
	margin: 0 18px;
	padding-bottom: 28px;
	border-bottom: 2px solid transparent;
}

.nav-con .menu .menu-con .current,.nav-con .menu .menu-con a:hover {
	border-color: #f99302;
}

.scrolled .nav-con .menu .menu-con a {
	padding-bottom: 18px;
}

.nav-right {
	margin-top: -18px;
	margin-right: 40px;
	margin-bottom: 12px;
	position: relative;
	z-index: 2;
}

header .scrolled {
	height: 65px;
}

.scrolled .nav-con {
	margin-top: 0;
}

.scrolled .nav-con .logo {
	width: 55px;
	height: 33px;
	margin-top: 7px;
}

.scrolled .nav-con .logo img {
	padding-top: 7px;
}

.scrolled .nav-con .menu {
	top: 30px;
}

.search {
	display: inline-block;
}

.search-con {
	position: relative;
	top: -3px;
	width: 30px;
	height: 28px;
	border: 1px solid transparent;
	border-radius: 50px;
}

.active .search-con {
	width: 224px;
	border-color: #fff;
	transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570)
}

.search-con input {
	display: inline-block;
	background-color: transparent;
	width: 150px;
	padding: 5px 20px;
	color: #fff;
	opacity: 0;
	transform: translate(0, 30px);
	transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.3s;
}

.active .search-con input {
	opacity: 1;
	transform: translate(0, 0);
}

.search-con .search-input {
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
	background: url(../images/search.png) no-repeat;
	width: 16px;
	height: 17px;
}

.search-con .search-input:hover {
	background: url(../images/search2.png) no-repeat;
}

.active .search-con .search-input:hover {
	background: url(../images/search.png) no-repeat;
}

.nav-right .personal {  /*购物车*/
	display: inline-block;
	position: relative;
}

.nav-right .personal .personal-img {
	display: block;
	width: 15px;
	height: 17px;
	background: url(../images/personal.png) no-repeat;
	margin-left: 24px;
	margin-right: 40px;
}

.nav-right .personal .personal-img:hover {
	background: url(../images/personal2.png) no-repeat;
}

.personal-con {
	position: absolute;
	width: 150px;
	height: 0;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	top: 110px;
	right: 40px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	z-index: 30;
}

.personal-con ul {
	padding: 20px 0;
}

.personal-con li {
	padding: 0 46px;
}

.personal-con li a {
	display: block;
	font-size: 1.4rem;
	color: #333;
	padding: 17px 0;
}

.personal-con li a:hover {
	color: #f99302;
}

.personal-con .personal-separation {
	border-top: 1px solid #f0f0f0;
}

.nav-right .shopping {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../images/shopping.png) no-repeat;
}

.nav-right .shopping:hover {
	background: url(../images/shopping2.png) no-repeat;
}

.nav-right .shopping span {
	position: absolute;
	top: -7px;
	left: 8px;
	display: block;
	font-size: 12px;
	color: #fff;
	padding: 2px 5px;
	background-color: #f99302;
	border-radius: 50px;
}

.shoppingCart {
	position: absolute;
	top: 110px;
	right: 20px;
	width: 359px;
	height: 0;
	overflow: hidden;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.shoppingCart li {
	padding: 20px;
}

.shoppingCart li img {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 4px;
}

.shoppingCart li h2,.shoppingCart li h3 {
	font-size: 1.4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /*当对象内文本溢出时显示省略标记（...）*/
	padding: 5px 10px;
}

.shoppingCart li h2 {
	color: #000;
}

.shoppingCart li h3 {
	padding-top: 0px;
	color: #666666;
}

.shoppingCart li p {
	font-size: 1.4rem;
	color: #979797;
	padding: 0 10px;
	padding-top: 15px;
	padding-bottom: 8px;
	overflow: hidden;
}

.shoppingCart li p span {
	color: #f99302;
	padding-right: 10px;
}

.shoppingCart-con dl {
	display: inline-block;
	padding: 20px;
}

.shoppingCart-con dt {
	font-size: 1.4rem;
	color: #000;
}

.shoppingCart-con dd {
	font-size: 1.6rem;
	color: #f99302;
	margin-top: 15px;
}

.shoppingCart-con button {
	width: 118px;
	height: 42px;
	float: right;
	font-size: 1.6rem;
	font-weight: bold;
	margin: 20px;
}

.no-shoppingCart {
	text-align: center;
	padding: 0 25px;
}

.no-shoppingCart h2 {
	font-size: 1.6rem;
	padding: 40px 0;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 20px;
}

.no-shoppingCart button {
	width: 100%;
	height: 42px;
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 25px;
}
input,button {
    font-family: "Microsoft YaHei", "Arial";
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background-color: #f99302;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 4px;
}

button:hover {
    background-color: #faa935;
}

/*===css header end===*/
/*===return-top start===*/


.return-top:hover{
	background: url(../images/top2.png) no-repeat;
}
.return-top{
	display: none;
	position: fixed;
	right: 50px;
	bottom: 10%;
	width: 40px;
	height: 40px;
	background: url(../images/top.png) no-repeat;
	z-index: 998;
}


/*===return-top end===*/
/*===css footer start===*/


p {
	color: #808080;
}
.footer {
	width: 100%;
	background-color: #0d0d0d;
}
.footer .footer-con {
	max-width: 1480px;
	min-width: 1180px;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 60px;
	background-color: #0d0d0d;
}
.footer dl {
	float: left;
	width: 195px;
}
.footer dl dt {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer dl dd {
	font-size: 12px;
	line-height: 1.7;
}
.code div {
	display: inline-block;
	text-align: center;
	margin: 0 13px;
}
.code div p {
	font-size: 12px;
	padding: 10px 0;
}
.certificate {
	max-width: 1480px;
	min-width: 1180px;
	text-align: right;
	font-size: 12px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 10px;
}
.footerConcern-us {
	margin-right: 10px;
	position: relative;
}
.footerConcern-us h2 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-align: right;
}
.footerConcern-us ul {
	text-align: right;
	margin: 18px 0;
}
.footerConcern-us ul li {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
}
.footerConcern-us ul li:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.49);
	top: 0;
	left: 0;
	border-radius: 50%;
}
.footerConcern-us ul li:hover:after {
	display: none;
}
.footerConcern-us .code{
	display: none;
	position: absolute;
	right: 0;
	top: 78px;
	width: 274px;
	padding-top: 13px;
	background: #131313;
}
.footer .footer-con {
	padding-left: 40px;
}

.footerConcern-us {
	margin-right: 40px;
}

.footer dl {
	width: 155px;
}

.footer .footer-con {
	max-width: 1440px;
	min-width: 1140px;
}
 
/*===css footer end===*/
/*===css 轮播 start===*/
/* 媒体查询(根据不同屏幕尺寸设置轮播图高度) */
@media screen and (min-width:768px) and (max-width:991px){
  #banner{
    position: relative;
    width: 100% !important;
		height: 495px !important; 
		
  }
}
@media screen and (min-width:992px){
  #banner{
    position: relative;
    width: 100% !important;
		height:795px !important;
  }
}


#banner{
	position: relative;
	width: 100%;
	height: 495px;
	cursor: pointer;
}
#banner .banner{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	transition: opacity 2s;
}

#banner .tab{
	bottom:20px;
	position: absolute;
	width: 100%;
	height:22;
	text-align: center;
}
#banner .tab span{
	display: inline-block;
	margin-left: 10px;
	line-height: 20px;
	width: 8px;
	height:8px;
	font-size: 12px;
	color:#333;
	border: 1px solid #333;
	border-radius: 50%;
	background: #333;
}
#banner .tab span.active{
	color: #f99302;
	background: #f99302;
  border: 1px solid #f99302;
}


/*===css 轮播 end===*/

@media screen and (max-width: 1180px){
	html{font-size: 9px;}
	.footer dl{width: 170px;}
}


/*===css 插图 start ===*/
.fl {
	float: left;
}
.grid{
	float: left;
	overflow: hidden;
	width: 47.8%;
	margin:1.1% 1%;
	text-align: center;
}
.recommend{
	width: 100%;
}
.recommend div{
	float: left;
	width: 31.3%;
	margin: 1%;
}
.recommend div h2{
	font-size: 2.4rem;
	color:#ffffff;
	padding:25px 0;
	text-align:center;
	background-color: #1a1a1a;
}
.grid figure figcaption{
	position: absolute;
	left:0;
	width: 100%;
	text-transform: uppercase;
	backface-visibility: hidden;
}
figure.effect-zoe figcaption{
	top:auto;
	bottom:0;
	padding: 28px 0;
	background: rgba(0, 0, 0, 0.6);
	color: #666666;
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
	/*-webkit-transition: -webkit-transform 0.35s; safari浏览器  */
	/*-webkit-transform: translate3d(0,100%,0);*/
}
figure.effect-zoe:hover figcaption {
	transform: translate3d(0,0,0);
}
figure.effect-zoe h2{
	font-size: 2.4rem;
	color: #fff;
	text-align: center;
	transition:transform 0.35s;
	transform: translate3d(0,200%,0);
}
figure.effect-zoe:hover h2 {
	transition: transform 0.5s;
	transform: translate3d(0,0,0);
	transition-delay: 0.2s;
}
.effect-zoe:after{
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.grid figure img {
	position: relative;
	display: block;
	/* min-height: 100%; */
}
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	text-align: center;
	cursor: pointer;
}
.home-con{
	padding: 1.1%;
}
.con{
	padding: 0.5%;
}
.clearfloat:after {
	content: '';
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}
/*===css 插图 end ===*/
/*===css login start ===*/


/*===css login end ===*/