.wrap{
	min-height: 550px;
	padding-top: 110px;
}
.headHeight {
	text-align: left;
	max-width: 1480px;
	margin:60px 120px auto;
}
.place-con{
	padding: 0 ;
	padding-bottom: 10px;
	width: 120%;
	margin: 0 -120px;
	box-shadow: 0 0px 2px #e2e2e2;
}
.place-h2{
	font-size: 2.7rem;
	color: #333;
	padding: 56px 0 28px;
  margin: 0 60px;
	border-bottom: 1px solid #f0f0f0;
}
.details{
	padding: 30px 0;
	margin: 0 60px;
}
.tab{
	padding: 20px 0;
}
.myorder{
	margin-bottom: 30px;
}
ul{
	list-style: none;
}
.list{
	width: 100%;
}
.header1{
	height:60px;
	background-color: rgba(0,0,0,0.03);
	padding: 0 30px;
	text-align: left;
}
.numberq{
	width: 50%;
	display: inline-block;
	height:60px;
	line-height: 60px;
	text-align: left;
	font-size: 1.4rem;
	color: #333;
}
.list .header1 >span{
	width: 11% !important;
	display: inline-block;
	font-size: 1.4rem;
	color: #333;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.list .header1 >span.quantity{
	width: 15% !important;
}
.order{
	padding: 50px 2px 22px 0;
	font-size:2.4rem;
	color:#b2b2b2;
	text-align: center;
	margin-top: 72px;
}
.aa{
	padding: 12px;
	color: #f99302;
	text-decoration: underline;
}

/* @media screen and (min-width: 1180px) and (max-width: 1480px) {
	.nav-con .logo{padding-left: 20px;}
	.footer dl{width: 170px;}
	.wrap{min-height: 450px;}
	html{font-size: 9px !important;}
}
@media screen and (max-width: 1180px){
	html{font-size: 9px;}
	.footer dl{width: 170px;}
	.wrap{min-height: 450px;}
} 没写完*/ 
