.product-con{
	width: 1480px;
	margin:50px auto 20px;
}


.pvxc_left{
	display: inline-block;
}
.pvxc_left .smallpic{
	width: 160px;
	display: inline-block;
	float: left;
}
.pvxc_left .smallpic a {
	display: block;
	width: 148px;
	border:  1px solid #f0f0f0;
	margin: 0 auto;
	margin-top:16px;
	transition:box-shadow 0.4s ease-in-out,transfrom 0.4s ease-in-out;
}  /*ease-in-out表示动画执行先慢后快*/
.pvxc_left .smallpic a:first-child{
	margin-top: 0;
}
.pvxc_left .smallpic a img{
  max-width:100%;
}
.my-small:hover{
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	border: 1px solid #f0f0f0;
	transition: box-shadow 0.4s ease-in-out, transform 0.2s ease-in-out;

}
.pvxc_left .bigpic{
	display: inline-block;
	width: 646px;
	height: 646px;
	border: 1px solid #f0f0f0;
	margin-left: 15px;
}




.pvxc_right{
	width: 549px;
	display: inline-block;
	vertical-align: top;
	text-align: center;

}
.pvxc_right h2{
	font-size: 2.4rem;
	color: #000;
	padding: 10px 0;
}
.pvxc_right h2 em{
	font-style: normal;
	font-size: 1.8rem;
	font-weight: 300;
  margin-left: 5px;
}
.pvxc_right h3{
	font-size: 2.4rem;
	color: #000;
	padding-top: 10px ;
	font-weight: bold;
}
.pvxc_right .discount{
	font-size: 1.4rem;
	color: #333;
}





.breadcrumb-product {
	width: 1180px;

}
.breadcrumb {
	font-size: 1.4rem;
	color: #b2b2b2;
	height: 60px;
	line-height: 26px;
}
.breadcrumb a {
	color: #b2b2b2;
}
.breadcrumb b {
	color: #333;
}
.tb-booth{
	border: 1px solid #CDCDCD;
	position: relative;
	z-index: 1;
}
.tb-s310, .tb-s310 img{
	height:648px;
	width: 648px;
}

.discount-con{
	padding: 18px 0;
	position: relative;
}
.discount-con span:first-child{
	font-size: 1.4rem;
	color: #333;
	font-weight: bolder;
}
.discount-con span{
	display: inline-block;
	color:#b2b2b2;
	text-align: center;
	padding: 0 14px;
}
.discount-con span a {
	color:#b2b2b2;
}
.discount-con span b{
	font-weight: bolder;
	text-decoration: line-through;
}
.product-color{
	font-size: 1.4rem;
	color: #333;
	margin-bottom: 15px;
}
.product-color span{
	color: #000;
	margin-left: 20px;
	font-weight:bold;
}

.product-color-choice li img{
	width: 39px;
	height:39px;
	border-radius: 50px;
	padding: 3px;
}
.product-color-choice li{
	display: inline-block;
	border-radius: 50px;
	margin: 10px;
	border: 1px solid transparent;
	cursor: pointer;
}
.product-color-choice li.select {
	border-color: #f99302;
}
.product-size .size{
	width: 134px;
	height:35px;
	color: #333;
	background-color:#f8f8f8;
}

.product-size strong button{
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #fff;
	color: #333;
	border: 1px solid #f0f0f0;
	border-radius: 0px;
}
.product-size strong input {
	width: 45px;
	height: 26px;
	text-align: center;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.product-buy button:first-child{
	background-color: #fff;
	color: #f99302;
	margin-right: 13px;
}
.product-buy button,.submit-applications{
	display: inline-block;
	width: 164px;
	height: 42px;
	border: 1px solid #f99302;
	margin: 35px 0;
	border-radius: 5px;
	text-align: center;
	line-height: 42px;
	font-size: 1.4rem;
	background: #f99302;
}
.product-buy-operation .product-operation-sdf:first-child,.product-buy-operation button:first-child{
	background: url(../images/collection.png) no-repeat right;
}
.product-buy-operation .product-operation-sdf,.product-buy-operation button{
	font-size: 1.4rem;
	color: #333;
	background: url(../images/share.png) no-repeat right;
	padding-right: 30px;
	margin: 0 10px;
}
.bdsharebuttonbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 16px;
	opacity: 0;
	
}
.bdsharebuttonbox a{
	width: 100%;
}

.bdshare-button-style1-16 .bds_more {
	background-position: 0 0;
}
.bdshare-button-style1-16 {
	zoom: 1;
}
.bdshare-button-style1-16:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.bdshare-button-style1-16 a,.bdshare-button-style1-16 .bds_more {
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../images/icons_1_16.png?v=01d441d0.png);
	_background-image: url(../images/icons_1_16_debase.png?v=2ab75562.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.bdshare-button-style1-16 a:hover {
	color: #333;
	opacity: .8;
	filter: alpha(opacity=80);
}
.bdshare-button-style1-16 .bds_more {
	color: #333;
	float: left;
}


.product-details-tit{
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}

.product-details-tit ul{
	width: 75%;
	height: 37px;
	margin: 0 auto;
}

.product-details-tit li{
	float: left;
	width: 25%;
	margin: 0 4.16%;
	font-size: 1.4rem;
	color: #808080;
	cursor: pointer;
	text-align: center;
	border-bottom: 2px solid transparent;
	padding-bottom: 22px;
}

/*商品评论*/
.product-details-tit .select{
	color: #f99302;
	border-bottom: 2px solid #f99302;
}
.orderCheckout-codeNull { 
	font-size: 2.4rem;
	color: #b2b2b2;
	margin-top: 72px;
}

/*加入购物车*/
.product-buy button:hover:first-child{ 
	background-color: #f99302;
	color: #fff;
}

/*根据颜色选尺码尺码样式*/
.product-size-choice { 
	text-align: left;
	width: 415px;
	margin-left: 136px;
	background: #f8f8f8;
	padding: 20px 0;
	margin-top: 2px;
	transition: 1s;
}
.product-size-choice li {
	display: inline-block;
	width: 58px;
	height: 28px;
	border: 1px solid transparent;
	line-height: 28px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	word-wrap: break-word;
}
.product-size-choice li a {
	font-size: 1.6rem;
	color: #333;
}
.product-details{
	margin-top:90px;
}

/* 放大镜 */
#demo {/* 父元素下的第一个div */
	display: block;
	width: 648px;
	height: 648px;
	margin-left:15px;
	position: relative;/* 相对父元素定位左上角 */
	border: 1px solid #ccc;
	float: left;/* 左浮动 */
}

#small-box {/* 盖在正常图片上的第二个div */
	position: absolute;/* 相对父元素定位左上角 */
	z-index: 1;/* 在1层显示 */
}

#float-box {/* 可移动遮罩层 */
	display: none; 
	width: 332px;
	height: 332px;
	position: absolute; /* 绝对定位相对于最近的已定位父元素 */
	background: #fff;	
	filter: alpha(opacity=50); /* 透明度总结 */
	opacity: 0.5; /* 透明度 */
	
}
#small-box:hover{/* 鼠标移入盖在正常图片上的div */
cursor:move; /* 鼠标指针变四个箭头 */

}
#mark {/* 盖在原图片上的第一个div */
	position: absolute; 
	display: block;
	width: 648px;
	height: 648px;
	background-color: #fff;
	filter: alpha(opacity=0); /* 透明度总结 */
	opacity: 0; /* 透明度 */
	z-index: 10; /* 在10层显示 */
	
}

#big-box {/* 放大后的div */
	display: none;
	position: absolute;

	left: 658px;
	width: 410px;
	height: 410px;
	overflow: hidden;
	border: 1px solid #ccc;
	z-index: 1;
	
}

#big-box img {
	position: absolute;
	z-index: 5;
	width:800px;

}
#small-box img{
width:648px;
height:648px;
}


