.clearfloat::after{
	content: "\2008";
	display: block;
	height: 0;
	clear: both;
}
.wrap{
	min-height: 450px;
	padding-top: 110px;
}
.my{
	max-width: 1480px;
	min-width: 1180px;
	margin: 60px auto;
}
.profile-left{
	display: inline-block;
}
.profile-left .userinfo{
	width: 168px;
	padding: 30px;
	border: 1px solid #feefd9;
	background-color: #fffaf2;
	color: #333;
	font-size: 1.4rem;
}
.profile-left .userinfo h2{
	font-size: 2.4rem;
	color: #f99302;
	font-weight: bold;
	padding: 15px 0;
}
.profile-left .userinfo p{
	padding: 5px 0;
	color: #808080;
}
.profile-left .userinfo p span{
	color:#f99302;
}
.theme-sidebar{
	border: 1px solid #f0f0f0;
	padding: 25px;
	margin: 24px 0;
	width: 178px;
}
.theme-sidebar ul li a{
	display: block;
	font-size: 1.4em;
	color:#333;
	padding: 17px;
}
.theme-sidebar ul li .active::before{
	content: " ";
	display: inline-block;
	width: 8px;
	height:8px;
	opacity: 1;
	background: #f99302;
	transform: rotate(135deg);
	margin-left: -20px;
	margin-right:12px;
}
.theme-sidebar ul li .active{
	color:#f99302;
}
.myOrder{
	width: 72%;
	padding: 30px;
	border: 1px solid #f0f0f0;
	margin-bottom: 120px;
}
.fr{
	float:right;
}
.myOrder-tit{
	font-size: 3rem;
}
.myOrder-tab{
	margin-top:20px;
	border-bottom: 1px solid #e6e6e6;
}
.myOrder-tab-tit{
	display: inline-block;
}
.myOrder-tab-tit .select{
	color: #f99302;
	border-bottom: 2px solid #f99302;
	font-weight: bold;
}
.myOrder-tab-tit li{
	display: inline-block;
	width: 124px;
	font-size: 1.6rem;
	text-align: center;
	padding: 20px 0;
}
.myOrder-tab-tit .select a{
	color: #f99302;
}
.myOrder-tab-tit li a{
	color: #333;
}
.myOrder-search{
	padding: 14px 0;
}
.myOrder-search input{
	background: url(../images/search.png) no-repeat;
	background-size:16px;
	background-position-y:5px;
	font-size: 1.2rem;
	height: 23px;
	color: #333;
	padding-left:25px;   
}
.myOrder button{
	cursor: pointer;
	background-color:#f99302;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 4px; 
}
.myOrder-search b{
	width: 180px;
	content: " ";
	display: block;
	height: 1px;
	border-bottom:1px solid #e6e6e6;
	margin-left: 20px; 
	font-weight: normal;
}
.myOrder-tab-top{
	margin-top:40px;
}
.myOrder-tab-con .show{
	display: block;
}
