/******************mall style***********************/
.mall-con {
	max-width: 1500px;
	min-width: 1180px;
	margin: 0 auto;
	margin-top: 62px;
	margin-bottom: 62px;
}

.mall-cons {
	margin-bottom: 30px;
}

.mall-nav {
	width: 100%;
	position: absolute;
	box-shadow: rgba(4, 0, 0, 0.2) 0px 6px 15px 0px;
	background: white;
	height: 0;
	overflow: hidden;
	z-index: 21;
}

.mall-nav-con {
	display: table;
	margin: 0 auto;
	min-width: 1000px;
}

.mall-nav-con ul {
	display: inline-block;
	vertical-align: top;
	padding: 40px 40px 0;
}

.mall-nav-con .mall-nav-tit {
	min-height: 290px;
	border-right: 1px solid #f0f0f0;
}

.mall-nav-con ul li {
	font-size: 1.4rem;
	color: #333;
}

.mall-nav-con ul li a {
	color: #333;
}

.mall-nav-con ul li a:hover {
	color: #f99302;
}

.mall-nav-con li {
	padding: 11px 0;
}

.mall-nav-con .mall-nav-tit li a,.mall-nav-con .mall-nav-tit2 {
	font-weight: bold;
}

.product-img {
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out, background-size 0.4s ease-in-out;
}

.product-img:hover {
	background-size: 105% auto;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px);
}

@media screen and (min-width: 1180px) and (max-width: 1500px) {
.mall-con {
			width: 1180px;
	}

.mall-cons {
			width: 1116px;
			min-width: 1116px;
	}

.new-product {
			width: 393px;
			margin-right: 5px;
	}

	.new-product2 {
			width: 778px;
	}

.new-product,.new-product2 {
			height: 366px;
	}
}

@media screen and (max-width: 1180px) {
.new-product {
			width: 393px;
			margin-right: 5px;
	}

.new-product2 {
			width: 778px;
	}

.new-product,.new-product2 {
			height: 366px;
	}
}

.commodity-tit {
	font-size: 3rem;
	margin-bottom: 20px;
	margin-left: 20px;
}

.commodity {
	position: relative;
	float: left;
	margin: 0 12px;
	margin-bottom: 24px;
	cursor: pointer;
	width: 350px;
	height: 445px;
	background-color: white;
	/*padding: 5px 20px;*/
	text-align: center;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	display: inline-block;
}

.commodity img {
	max-width: 350px;
	min-height: 350px;
	border-radius: 5px 5px 0 0;
}

.commodity-strong {
	margin-top: 8px;
	display: block;
	margin: 0 auto;
	position: relative;
	width: 306px;
	height: 68px;
	overflow: hidden;
}

.commodity-strong li {
	width: 68px;
	height: 68px;
	min-height: 68px;
	float: left;
	margin: 0 4px;
}

.commodity-strong img {
	width: 100%;
	min-height: 100%;
}

.commodity:nth-child(4n+0) {
	margin-right: 0;
}

.commodity-div {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
	border-radius: 5px;
}

.commodity:hover {
	border-color: transparent;
}

.commodity:hover .commodity-div {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	transform: translate(0,-5px);
	border-color: transparent;
	@include transform(translateY(-2px));
z-index: 89;
}

.commodity-position {
	position: relative;
	display: none;
}

.commodity:hover .commodity-position {
	display: block;
}

.commodity h3,.commodity p {
	font-size: 1.8rem;
}

.commodity h3 {
	width: 300px;
	color: #333;
	margin: 0 auto;
	margin-top: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.commodity p {
	color: #f99302;
	padding: 15px 0 30px;
}

#myscroll #myscrollbox {
	display: block;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 1000000px;
	/* -webkit-transition: all 0.5s ease; safari 私有属性
	-moz-transition: all 0.5s ease;       火狐私有属性
	-ms-transition: all 0.5s ease;				ie 私有属性
	-o-transition: all 0.5s ease;         Opera私有属性 */
	transition: all 0.5s ease;
}

#mybtns {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	top: 21px;
}

#mybtns img {
	width: 7px;
	height: 13px;
	min-height: 13px;
}

#left {
	float: left;
	padding: 7px;
}

#right {
	float: right;
	padding: 7px;
}
/******************mall end***********************/
.img1:hover{
	transform: scale(1.1);
}
.img1{
	transition: 1s;
}
